
<h4>Progress</h4>



<table class="table table-bordered" style="font-size:1.5em;">
	<tr>
		<td>{{ oConceptUser.concept }}</td>
		<td>{{ oConceptUser.get_level_pretty|safe }}</td>
		<td>
			{% if level_change == 'increase' %}
				<span class="text-success">+1</span>
			{% elif level_change == 'decrease' %}
				<span class="text-danger">-1</span>
			{% elif level_change == 'no change' %}
				<span class="text-muted">no change</span>
			{% endif %}
		</td>
	</tr>
</table>
{% if unlocked_words %}
	<h3 class="text-success">You unlocked {{ unlocked_words|length }} words!!!</h3>
	<table class="table table-striped table-bordered">
		{% for oWord in unlocked_words %}
			<tr>
				<td>{{ oWord.word }}</td>
				<td>{{ oWord.pronunciation }}</td>
				<td>{{ oWord.definition }}</td>
			</tr>
		{% endfor %}
	</table>


{% endif %}




