



<table>
    <tr>
        <th>ID</th>
    	<th>Kanji</th>
    	<th>URL</th>
    </tr>
	{% for result in results %}	
	<tr>
		<td>{{ result.id }}</td>
		<td>{{ result.kanji }}</td>
		<td>{{ result.url }}</td>
	</tr>
	{% endfor %}
</table>

<table>
    <tr>
        <th>Kanji ID</th>
    	<th>Kanji</th>
    	<th>Component ID</th>
    	<th>Component</th>
    	<th>Component URL</th>
    </tr>
	{% for result in results %}	
	    {% for radical in result.radicals %}
	        <tr>
	            <td>{{ result.id }}</td>
				<td>{{ result.kanji }}</td>
				<td>{{ radical.id }}</td>
				<td>{{ radical.kanji }}</td>
				<td>{{ radical.url }}</td>
			</tr>
		{% endfor %}
	{% endfor %}
</table>