{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Study Kanji</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
  
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">
  
	<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="all" />  

</head>
<body>

<script>
	$(document).ready(function(){
	  $('[data-toggle="popover"]').popover();
	});
</script>





{% include 'study/core/navbar.html' %}





<div id="content" class="container-fluid" style="{% if not embedded %}min-height:80vh;{% endif %}max-width: 1800px;">
	{% include 'study/core/messages.html' %}
	{% block content %}{% endblock %}
</div>




{% if not embedded %}
	<footer class="container-fluid" style="border-top:solid 1px #b3b3b3; margin:10px auto;padding-top:11px;">
	    <div style="color:#3e3f3a">
	    	<div style="font-size:23px; padding-top:9px;">
	    		Study Kanji
	    	</div>
	    	
	    		&copy; John Meinken

	    </div>
	</footer>
{% endif %}

</body>
</html>