{% extends 'study/core/base.html' %}

{% block content %}


<style>
.lookup-concept-detailed {
	cursor:pointer;
}
</style>

<script type="text/javascript">



$(document).ready(function() {
	
	$('.lookup-concept-detailed').click(function() {
		var url = $(this).attr('data-url');
		$.getJSON( url, function( json ) {
			$('#concept-details-body').html(json.html);
			$('#concept-details-modal').modal('show');
		});
	});
	

	
});


</script>

<div class="row">
	<div class="col-sm-6">
		<h1>My Kanji</h1>
	</div>
	<div class="col-sm-6 text-right h1">
		Completed Kanji: 
		
		<span class="badge {% if completed_count == 0 %}badge-danger{% else %}badge-success{% endif %}">
			{{ completed_count }}
		</span>
	</div>
</div>


<table class="table table-bordered table-striped table-sm">
	<thead>
		<th style="width:200px;">Kanji</th>
		<th>Level</th>
		<th>Started</th>
	</thead>
	<tbody>
		{% for oCU in qConceptUserKanji %}
			<tr class="lookup-concept-detailed {% if oCU.level == 10 %}table-success{% endif %}"
					data-url={% url 'study:lookup_concept_detailed' oCU.concept.id %}>
				<td style="text-align:center;font-size:1.6em;">
					<strong>{{ oCU.concept.kanji.character }}</strong>
				</td>
				<td style="vertical-align: middle;">
					&nbsp;&nbsp;{{ oCU.get_level_pretty|safe }}
				</td>
				<td style="vertical-align: middle;">
					{{ oCU.created }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>






<div class="modal" id="concept-details-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		
			<!-- Modal Header -->
			<div class="modal-header">
			  	<h4 class="modal-title">Modal Heading</h4>
			  	<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body" id="concept-details-body">
			</div>
		
		</div>
	</div>
</div>

{% endblock %}


