{% extends 'study/core/base.html' %}

{% block content %}


<div class="row">
	<div class="col-md-6">
		<h1>Review</h1>
		<hr>
		<div class="display-1">{{question}}</div>
		<hr>
		{% for answer in answers %}
			<button type="button" class="btn btn-secondary quiz-answer-option btn-lg mb-2" data-value="{{ answer.1 }}">
				{{ answer.0 }}
			</button>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<div id="correct-answer-div" style="display:none;">
			<div style="text-align:right;">
				<a href="{% url 'study:practice_words_in_progress' %}" class="btn btn-info btn-lg">
					Next Question
					<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
				</a>
			</div>
			<hr>
			{{ correct_answer }}
		</div>
		
		<div id="progress-div"></div>	
	</div>
</div>

{% endblock %}


