{% extends 'study/core/base.html' %}

{% block content %}



<script>

var playAnimation = function(callback, elem) {
	var timeleft = 3;
	$('#progress-div').html('<span class="display-1">' + timeleft + '</span>');
	var downloadTimer = setInterval(function(){
		timeleft--;
		if (timeleft <= 0) {
			clearInterval(downloadTimer);
			callback(elem);
		} else {
			$('#progress-div').html('<span class="display-1">' + timeleft + '</span>');
		}
	}, 300);
}

var animateIndicator = function() {
	$(".level-indicator").animate({
      	width: '40px'
    }).animate({
      	width: '1px'
    });
	animateIndicator();
}

$(document).ready(function() {
	
	$(document).keypress(function(e) {
	    if(e.which == 13) {
	        location.reload(true);
	    }
	    if(e.which == 49) {
	        $('#quiz-answer-option-1').trigger("click");
	    }
	    if(e.which == 50) {
	    	$('#quiz-answer-option-2').trigger("click");
	    }
	    if(e.which == 51) {
	    	$('#quiz-answer-option-3').trigger("click");
	    }
	    if(e.which == 52) {
	    	$('#quiz-answer-option-4').trigger("click");
	    }
	});
	
	$('.quiz-answer-option').click(function() {
		var timeleft = 3;
		var elem = $(this);
		var callback = function(elem) {
			// highligh correct answer
			var val = elem.attr('data-value');
			elem.removeClass('btn-secondary');
			if (val == '0') {
				var correct = false;
				elem.addClass('btn-danger');
			} else {
				var correct = true;
				elem.addClass('btn-success');
			}
			// update progress for this concept
			var url = "{% url 'study:quiz_submit_answer' %}";
			var data = {
				concept_user_id : {{ oConceptUser.id }},
				correct : correct
			};
			$.getJSON( url, data, function( json ) {
				$('#correct-answer-div').show();
				$('#progress-div').html(json.html_second);
				if (json.just_completed) {
					animateIndicator();
				}
			});
			
		}
		playAnimation(callback, elem);
		
		// don't allow multiple submits
		$('.quiz-answer-option').unbind();
		
	});
	
});	
	
</script>


<div class="row">
	<div class="col-md-6">
		<h1>Practice Kanji</h1>
		<hr>
		<div class="display-1">{{question}}</div>
		<hr>
		{% for answer in answers %}
			<button type="button" class="btn btn-secondary quiz-answer-option btn-lg" data-value="{{ answer.1 }}"
					data-number="{{ forloop.counter }}" id="quiz-answer-option-{{ forloop.counter }}">
				{{ forloop.counter }}. {{ answer.0 }}
			</button>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<div id="correct-answer-div" style="display:none;">
			<div style="text-align:right;">
				<a href="{% url 'study:practice_kanji_in_progress' %}" class="btn btn-info btn-lg">
					Next Question
					<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
				</a>
			</div>
			<hr>
			{{ correct_answer }}
		</div>
		
		<div id="progress-div"></div>	
	</div>
</div>
		



		<div id="correct-answer-div" style="display:none;">
			{{ correct_answer }}
		</div>
		
		<div id="progress-div"></div>



{% endblock %}


