{% extends 'core/base.html' %}


{% block content %}
kanji page<br>

<span class="text-warning" style="font-size:80px">{{kanji.kanji}}</span><br>

Components:
{% for comp in kanji.kanji_set.all %}
	{{ comp.component.kanji }}
{% endfor %}<br>

ID: {{kanji.id}}<br>

Order: {{kanji.hybrid_order}}<br>

<a href="http://kanjidamage.com{{kanji.kd_link}}">Kanji damage</a>

<hr>

<form action="" method="post">
	<div class="form-group">
        <label for="inputEmail" class="control-label">Pronunciation</label>
        <input class="form-control" type="text" name="pronunciation">
    </div>
</form>

{% endblock %}