{% extends 'core/base.html' %}

{% block content %}

{{ last_section_completed }}

<div class="list-group">
{% for section in sections %}
	<div class="list-group-item">
		<div class="row">
			{% if section.id < current_section %}
				<div class="col-sm-6 text-primary">
					<a href="{% url 'section' %}?level={{section.level.order}}&section={{section.order}}">
						<span class="text-primary">
							<i class="fa fa-check" aria-hidden="true"></i>
							Section {{ section.order }}: kanji {{ section.start_kanji }} - {{ section.end_kanji }}
						</span>
					</a>
				</div>
				<div class="col-sm-6">
					<div class="btn-group">
						<a href="{% url 'study' %}?level={{section.level.order}}&section={{section.order}}&kanji=1" class="btn btn-primary btn-sm">kanji</a>
						<a href="#" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'study' %}?level={{section.level.order}}&section={{section.order}}&kanji=1">study</a></li>
							<li><a href="{% url 'practice' %}?level={{section.level.order}}&section={{section.order}}&kanji=1">recognition practice</a></li>
							<li><a href="#">writing practice</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul> 
					</div>
					<div class="btn-group">
						<a href="#" class="btn btn-primary btn-sm">vocabulary</a>
						<a href="#" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">study</a></li>
							<li><a href="#">reading practice</a></li>
						</ul>
					</div>
					Completed
				</div>
			{% elif section.id == current_section %}
				<div class="col-sm-6 text-success">
					<i class="fa fa-bullseye" aria-hidden="true"></i>
					Section {{ section.order }}: kanji {{ section.start_kanji }} - {{ section.end_kanji }}
				</div>
				<div class="col-sm-6">
					<div class="btn-group">
						<a href="{% url 'study' %}?level={{section.level.order}}&section={{section.order}}&kanji=1" class="btn btn-success btn-sm">kanji</a>
						<a href="#" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">study</a></li>
							<li><a href="#">recognition practice</a></li>
							<li><a href="#">writing practice</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<a href="#" class="btn btn-success btn-sm">vocabulary</a>
						<a href="#" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">study</a></li>
							<li><a href="#">reading practice</a></li>
						</ul>
					</div>
					<form method="post" action="">
						{% csrf_token %}
						<input type="hidden" name="current_section" value="{{current_section}}">
						<button class="btn btn-success btn-sm">Mark Complete</button>
					</form>
				</div>
			{% else %}
				<div class="col-sm-6 text-muted">
					Section {{ section.order }}: kanji {{ section.start_kanji }} - {{ section.end_kanji }}
				</div>
				<div class="col-sm-6">
					<div class="btn-group">
						<a href="{% url 'study' %}?level={{section.level.order}}&section={{section.order}}&kanji=1" class="btn btn-primary disabled btn-sm">kanji</a>
						<a href="#" class="btn btn-primary disabled dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">study</a></li>
							<li><a href="#">recognition practice</a></li>
							<li><a href="#">writing practice</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
					<div class="btn-group">
						<a href="#" class="btn btn-primary disabled btn-sm">vocabulary</a>
						<a href="#" class="btn btn-primary disabled dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">study</a></li>
							<li><a href="#">reading practice</a></li>
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endfor %}
</div>



{% endblock %}