{% extends 'core/base.html' %}

{% load staticfiles %}
{% load kanji_templates %}




{% block content %}

<script>

$( document ).ready(function() {
	
	$('#show-more-info').click(function() {
		$('#more-info').toggle();
		return false;
	});
	
});

</script>

<style>
#left-control {
	position: absolute;
	top: 100px;
	left: 2px
}
#right-control {
	position: absolute;
	top: 100px;
	right: 2px;
}
a.subtle-control {
	color: #d9d9d9;
}
a.subtle-control:hover {
	color: #18BC9C;
	text-decoration: none;
}
#pronunciation {
	font-size: 27px;
	padding-top: 22px;
}
#meaning {
	font-size: 20px;
}
#info-table td {
	padding: 3px 8px;
	vertical-align: middle;
}
#info-table th {
	padding: 3px 8px;
	vertical-align: middle;
	font-weight: normal;
}
#info-table {
	width: 100%;
}

</style>



<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-primary" style="position:relative">
		    <div class="panel-heading">
		    	<div style="float:right">
		    		count: {{vocab_count}}
		    	</div>
		    	Reading Practice
		    </div>
			<div class="panel-body" style="padding:5px 30px;">
				<div class="row">
					<div class="col-xs-12" style="font-size:40px;padding-top:30px;padding-bottom:30px;text-align:center;">
						{{ word.word }}
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a href="#" id="show-more-info">answer<i class="fa fa-caret-down" aria-hidden="true"></i></a>
				<div id="more-info" style="display:none;">	
					<br>
					<table class="table table-striped">
						<tr>
							<td>word</td>
							<td>{% include "snippets/word_with_furigana.html" %}</td>
						</tr>
						<tr>
							<td>definition</td>
							<td>{{word.definition}}</td>
						</tr>
						<tr>
							<td>ranking</td>
							<td>{{word.word_ranking}}</td>
						</tr>
					</table>
					<div style="text-align: center;">
						<a href="http://jisho.org/search/{{word.word}}" target="_blank">Joshi.org</a>
					</div>
				</div>	
			</div>
			<div id="left-control">
			</div>
			<div id="right-control">
				<a class="subtle-control" href="{% url 'word_practice' %}?level={{section.level.order}}&section={{section.order}}">
					<span style="font-size:50px">&#8250;</span>
				</a>
			</div>
		</div>
	</div>
</div>

<span data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</span>

{% endblock %}